body
{
    text-align: left;

    width: 99%;
    height: 99%;
    color:rgb(245, 6, 6);
    background-image:url(image/fibonacci-nature.jpg);
    
}
#fibo
{
    text-align: center;
}
#fibo p
{
    margin-left: -1%;
}
.nacci input
{
    background: red;
    color: #FFF;
    margin-left: 46%;
}
